<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min" media="screen,projection" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/css/{{assets.css}}" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {{{body}}}
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/assets/js/materialize.min"></script>
    <script type="text/javascript" src="/assets/js/{{assets.js}}"></script>
</body>

</html>