<div class='container'>
    <div class="row">
        <div class="col s12 center-align amber darken-1">
            <h3 class="teal-text text-darken-4">ragr</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <div id="user-info"></div>
            <div class="card-panel center-align" id="throw">
                <b> throw a ragr </b>
            </div>
        </div>
    </div>
    <div id="view-parties-section"></div>
</div>