<div class='container'>
    <div class="row">
        <div class="col s12 center-align">
            <h1>Ragr</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">What's Ragr?</span>
                    <p>
                        Nowadays, there's an app for everything. You can find the perfect playlist for your
                        dinner recipe, buy anything your heart desires, and maybe even meet your soul mate.
                        But when it comes time to go out and let yourself loose of the everyday stresses you
                        endure, if you don't have an in, you're stuck. 
                    </p>
                    <p>
                        Don't worry. We're here to help. Think of Ragr sort of like a dating app for parties.
                        Just tell us a little about you, and we'll use your profile and your location to help
                        you find a place to dance the night away.
                    </p>
                </div>
                <div class="card-action">
                    <a href="/login">Log In</a>
                    <a href="/signup/0">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>