<div class='container'>
    <div class="row">
        <div class="col s12 center-align">
            <h1>Ragr</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <h2></h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">LOG IN</span>
                    <div class="input-field">
                        <input placeholder="readyToRage" id="username" type="text" class="validate white-text">
                        <label for="first_name">Username</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" class="validate white-text">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn" id="login-go">login</a>
                </div>
            </div>
        </div>
    </div>
</div>