<div class="container">
    <div class="row">
        <div class="card-panel col s12 amber darken-2 center-align">
            <h3>throw ragr</h3>
        </div>
    </div>
    <div class="row">
        <div class="form-item col s12">
            <div class="input-field blue-grey-text text darken-4">
                <input id="party-name" type="text" class="validate blue-grey-text text darken-4" placeholder="John's 21st Birthday">
                <label for="party-name" class="blue-grey-text text darken-4">Name your party</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-item col s12">
            <div class="input-field blue-grey-text text darken-4">
                <input id="party-date" type="date" class="validate blue-grey-text text darken-4">
                <label for="party-date" class="blue-grey-text text darken-4">When's your party goin down?</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select class="blue-grey-text text darken-4" id="party-setting">
                <option value="" class="blue-grey-text text darken-4" disabled selected>Party Setting</option>
                <option value="1" class="blue-grey-text text darken-4">Apartment or house</option>
                <option value="2" class="blue-grey-text text darken-4">Local bar or club</option>
                <option value="3" class="blue-grey-text text darken-4">Concert or show</option>
                <option value="4" class="blue-grey-text text darken-4">Public event</option>

            </select>
            <label class="blue-grey-text text darken-4">Select the kind of location you'll be hosting the party at</label>
        </div>
    </div>
    <div class="row">
        <div class="form-item col s12">
            <div class="input-field blue-grey-text text darken-4">
                <input id="party-location" type="text" class="validate blue-grey-text text darken-4" placeholder="24 Rosalin Road, Nowhereville, MA">
                <label for="party-location" class="blue-grey-text text darken-4">Enter your party's address.</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select class="blue-grey-text text darken-4" id="party-bounds">
                <option value="" class="blue-grey-text text darken-4" disabled selected>Who do you want to party with?</option>
                <option value="1" class="blue-grey-text text darken-4">Just friends</option>
                <option value="2" class="blue-grey-text text darken-4">Friends and people they know</option>
                <option value="3" class="blue-grey-text text darken-4">Just new people</option>
                <option value="4" class="blue-grey-text text darken-4">Anyone</option>
            </select>
            <label class="blue-grey-text text darken-4">Select who you want us to match to your event</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select class="blue-grey-text text darken-4" id="party-style">
                <option value="" class="blue-grey-text text darken-4" disabled selected>What kind of party do you want to have?</option>
                <option value="1" class="blue-grey-text text darken-4">Casual</option>
                <option value="2" class="blue-grey-text text darken-4">Chaotic</option>
                <option value="3" class="blue-grey-text text darken-4">Club</option>
                <option value="4" class="blue-grey-text text darken-4">Rave</option>
            </select>
            <label class="blue-grey-text text darken-4">Select who you want us to match to your event</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select class="blue-grey-text text darken-4" id="party-alc">
                <option value="" class="blue-grey-text text darken-4" disabled selected>Are you comfortable with alcohol use?</option>
                <option value="1" class="blue-grey-text text darken-4">No</option>
                <option value="2" class="blue-grey-text text darken-4">Only limited amounts</option>
                <option value="3" class="blue-grey-text text darken-4">Yes, I'm okay with that.</option>
                <option value="4" class="blue-grey-text text darken-4">It might as well be mandatory</option>
                <option value="5" class="blue-grey-text text darken-4">I'm indifferent</option>
            </select>
            <label class="blue-grey-text text darken-4">Take a stance on alcohol use at your party</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select class="blue-grey-text text darken-4" id="party-drug">
                <option value="" class="blue-grey-text text darken-4" disabled selected>Are you comfortable with drug use?</option>
                <option value="1" class="blue-grey-text text darken-4">No</option>
                <option value="2" class="blue-grey-text text darken-4">As long as I don't see it</option>
                <option value="3" class="blue-grey-text text darken-4">As long as it's nothing crazy </option>
                <option value="4" class="blue-grey-text text darken-4">It might as well be mandatory</option>
                <option value="5" class="blue-grey-text text darken-4">I'm indifferent</option>
            </select>
            <label class="blue-grey-text text darken-4">Take a stance on drug use at your party</label>
        </div>
    </div>
    <div class="card-panel amber darken-2 center-align">
        <a class="waves-effect waves-light btn" id="submit-info">Create Party</a>
    </div>


    {{!--
    <div class="row">
        <div class="input-field col s12">
            <select class="blue-grey-text text darken-4" id="">
                <option value="" class="" disabled selected></option>
                <option value="" class=""> option </option>
            </select>
            <label class="">label</label>
        </div>
    </div>
    --}}

    {{!--
    <div class="row">
        <div class="form-item col s12">
            <div class="input-field ">
                <input id="" type="" class="validate blue-grey-text text darken-4" placeholder="">
                <label for="" class="blue-grey-text text darken-4">label</label>
            </div>
        </div>
    </div>
    --}}
</div>